html {
  height: 100vh;
  width: 100vw;
  background-color: #224633;
}

.main {
  display: flex;
}

#canvas {
  border: 8px solid #8E888F;
  background-color: white;
}

h1 {
  color: #8E888F;
  text-align: center;
  padding-right: 50px;
}

h2 {
  margin-top: 0;
}


.snake-s {
  height: 50px;
  vertical-align: text-bottom;
}

.header-container {
  width: 100vw;
}

.instructions-container {
  margin: 65px 25px 0 25px;
  padding: 10px;
  width: 25%;
  background-color: #8E888F;
  height: 100%;
}

.score-container {
  margin: 65px 25px 0 25px;
  padding: 15px;
  font-size: 1.5rem; 
  background-color: #8E888F;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
}

.score {
  padding: 10px;
  margin: 0;
}

.game-over-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 38%;
  top: 15%;
  color: red;
}

.game-over {
  font-size: 3em;
  margin-bottom: 0;
}

.reset-game-paragraph {
  text-align: center;
}

.game-over-display {
  display: none;
}